<% layout('layouts/boilerplate') %>
<body>
  <link rel="stylesheet" href="/public/css/blog-show.css" />
  <header class="py-5 bg-light border-bottom mb-4 header-with-background">
    <div class="container">
      <div class="text-center my-5">
        <h1 class="fw-bolder"><%= blog.title %></h1>
        <p class="lead mb-0">Read the latest post from our blog</p>
      </div>
    </div>
  </header>

  <!-- Blog content-->
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <article class="blog-post">
          <p class="text-muted mb-2">
            Posted by <%= blog.author.username %> on <%=
            blog.posted_date.toDateString() %>
          </p>

          <!-- Post content-->
          <p class="mb-4 description"><%= blog.description %></p>
          <!-- About the author -->
          <hr />
          <p class="mb-4 text"><%= blog.text %></p>

          <h2 class="fw-bolder mb-3">About the Author</h2>

          <div class="row align-items-center my-5">
            <div class="col-lg-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="100"
                height="100"
                fill="currentColor"
                class="bi bi-person-circle text-muted"
                viewBox="0 0 16 16"
              >
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path
                  fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                />
              </svg>
            </div>
            <div class="col-lg-9">
              <h3 class="mb-3"><%= blog.author.username %></h3>
              <p class="fs-6 text-muted"><%= blog.author.bio %></p>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <strong>Website:</strong>
                  <a href="<%= blog.author.website %>"
                    ><%= blog.author.website %></a
                  >
                </li>
                <li class="list-inline-item">
                  <strong>Email:</strong> <%= blog.author.email %>
                </li>
                <li class="list-inline-item">
                  <strong>Location:</strong> <%= blog.author.location %>
                </li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-5">
        <!-- Comment box -->
        <div class="container mt-5 mb-5">
          <div class="d-flex justify-content-center row">
            <div class="d-flex flex-column col-md-12">
              <div class="coment-bottom bg-white p-2 px-4">
                <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                  <form
                    action="/blogs/<%= blog._id %>/new"
                    method="POST"
                    class="d-flex align-end justify-content-around col-md-12"
                  >
                    <textarea
                      class="form-control"
                      placeholder="write a comment..."
                      rows="1"
                      name="text"
                    ></textarea>
                    <br />
                    <button
                      type="submit"
                      class="btn btn-secondary pull-right ms-2"
                    >
                      Post
                    </button>
                  </form>
                </div>
                <% for(let review of blog.reviews){ %>
                <div class="commented-section mt-2">
                  <div
                    class="d-flex flex-row align-items-center commented-user"
                  >
                    <h5 class="mr-2"><%=review.author.username %></h5>
                    <span class="dot mb-1"></span
                    ><span class="mb-1 ml-2"
                      ><%= review.posted_date.toDateString() %></span
                    >
                  </div>
                  <div class="comment-text-sm">
                    <span><%= review.text %></span>
                  </div>
                  <div class="reply-section">
                    <div
                      class="d-flex flex-row align-items-center voting-icons"
                    >
                      <i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i
                      ><i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i>
                    </div>
                    <form
                      id="likeDislikeForm"
                      action="/blogs/<%= blog._id%>/<%= review._id %>/"
                      method="POST"
                    >
                      <input
                        type="hidden"
                        id="action"
                        name="action"
                        value="like"
                      />
                      <span id="likeCount"
                        ><i class="bi bi-heart"></i> <%= review.likes %></span
                      >
                      <button
                        type="button"
                        id="likeButton"
                        onclick="likePost()"
                      >
                        <i class="bi bi-hand-thumbs-up"></i> Like
                      </button>
                      <button
                        type="button"
                        id="dislikeButton"
                        onclick="dislikePost()"
                      >
                        <i class="bi bi-hand-thumbs-down"></i> Dislike
                      </button>
                    </form>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/public/js/scripts.js"></script>
  <script src="/public/js/blog-show.js"></script>
</body>

<script
  src="https://kit.fontawesome.com/a076d05399.js"
  crossorigin="anonymous"
></script>

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
  rel="stylesheet"
/>

<style>
  .header-with-background {
    background-image: url("<%= objectUrl %>");
    background-size: cover; /* Adjust to cover the entire header */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    color: white; /* Set text color to white or adjust as needed for contrast */
  }

  .description {
    font-style: italic;
    font-size: 19px;
  }
  .text {
    font-size: 18px;
  }
  body {
    background-color: #eee;
  }

  .bdge {
    height: 21px;
    background-color: orange;
    color: #fff;
    font-size: 11px;
    padding: 8px;
    border-radius: 4px;
    line-height: 3px;
  }

  .comments {
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer;
  }

  .dot {
    height: 7px;
    width: 7px;
    margin-top: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .hit-voting:hover {
    color: blue;
  }

  .hit-voting {
    cursor: pointer;
  }

  #likeDislikeForm {
    display: flex;
    align-items: center;
  }

  #likeDislikeForm button {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
    color: #333;
  }

  #likeDislikeForm button i {
    margin-right: 5px;
  }

  #likeButton:hover,
  #dislikeButton:hover {
    color: #007bff;
  }

  #likeButton i:hover,
  #dislikeButton i:hover {
    transform: scale(1.2);
  }
</style>
<script>
  function likePost() {
    document.getElementById("action").value = "like";
    document.getElementById("likeDislikeForm").submit();
  }

  function dislikePost() {
    document.getElementById("action").value = "dislike";
    document.getElementById("likeDislikeForm").submit();
  }
</script>
